@font-face {
  font-family: 'jafjaf';
  src: font-url('JAF_Herb.ttf') format('truetype')
}

body {
  background: #f7c6db;
  color: #26428c;
  padding: 5% 10%;
  h5 {
    font-family: 'jafjaf' !important;
    color: #26428c;
  }
  a {
    color: #26428c;
  }
  .bienbon-navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 0 70px 0;
    flex-wrap: wrap;
    .btn__first, .btn__second {
      cursor: pointer;
    }
    .collapsable-div {
      width: 100%;
      .collapse {
        margin: 20px 0 0 0;
        max-height: 0px;
        overflow: hidden;
        transition: max-height 5s cubic-bezier(0, 1, 0, 1);
        &.show {
          max-height: 99em;
          transition: max-height 5s ease-in-out;
        }
      }
    }
  }
  .bien-bon-page img {
    padding: 20px 0;
    width: 100%;
    height: auto;
  }
  .article-card {
    display: flex;
    flex-direction: column;
    .article-title {
      font-size: 25px;
      font-family: "jafjaf";
      color: #26428c;
    }
  }
}

@media (max-width: 600px) {
  body .bienbon-navbar {
    padding: 20px 0 50px 0;
    h5 {
      font-size: 12px;
    }
  }
}
