<h5><%= @article.title %></h5>
<!-- <div class="article-content"><%#= @article.content %></div>-->
<% @article.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
