<% if user_signed_in? %>
  <%= link_to "nouveau bien bon", new_article_path %>
  <%= link_to "log out", destroy_user_session_path, method: :delete %>
<% end %>
<h5>Contribuez-collapse</h5>
<h5>Mode d'emploi-collapse</h5>
